:root {
  --clr-dark: #0f172a;
  --clr-light: #f1f5f9;
  --clr-accent: #e11d48;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 5em 0 0 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.4px;
  font-family: 'Roboto', sans-serif;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

.container {
  width: 80%;
  margin: 0 auto;
  border: 10px solid var(--clr-dark);
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 50% 50%;
}

.item-1 {
  padding: 0.5em;
  background-color: #fb7185;
  border: 10px solid var(--clr-accent);
}
.item-2 {
  padding: 0.5em;
  background-color: #fb7185;
  border: 10px solid var(--clr-accent);
}
.item-3 {
  padding: 0.5em;
  background-color: #fb7185;
  border: 10px solid var(--clr-accent);
}
.item-4 {
  padding: 0.5em;
  background-color: #fb7185;
  border: 10px solid var(--clr-accent);
}

.item {
    margin: 10px
}