@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;800&display=swap'); /*font-family: "Poppins", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); /*font-family: 'Ubuntu', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap'); /* font-family: 'Fira Sans', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

:root {
    --dark_purple: #210240;
    --light_purple: #4a0035;
    --text_purple: #785097;
    --text_pink: #9e5b8b;
}

html {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to top, #210240, #730052) no-repeat;
    min-height: 100vh;
    /* background-attachment: fixed; */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #210240;
    filter: drop-shadow(#0808082d 0rem 0.5rem .1rem);
    z-index: 100;

}

.navbar img {
    border-radius: 8px;
}

.name {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 32px;
}

.navbar_links a {
    font-size: 20px;
    color:var(--text_purple);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.main_container {
    width: 100vw;
    height: 100vh;
    top: 0;
    /* background: antiquewhite; */
    overflow-y: hidden;
}

.main {
    position:absolute;
    top:45vh;
    left:10vw;
    width:80%;
    height: 80%;
    color:white;
    /* background-color: #000000; */
}

.main h2{
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.main h5 {
    margin-top: 0;
    font-weight: 300;
    font-size: 200%;
    position: absolute;
    width:auto;
    min-height: 10%;
    color: var(--text_purple);
}

.main_pic {
    float:right;
    margin-right:15vw;
    margin-top:24vh;
    width: 50vh;
    height: 50vh;
    border-radius: 30% 70% 43% 57% / 59% 39% 61% 41%;
    object-fit: cover;
    filter: drop-shadow(rgba(251, 142, 0, 0.416) 0.5rem 0.5rem 3rem);
    background: white;
    animation: main_pic_ani 25s ;
    animation-iteration-count: infinite;
}

@keyframes main_pic_ani {
    0% {
        border-radius: 30% 70% 43% 57% / 59% 39% 61% 41%;
    }
    
    25% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    
    50% {
        border-radius: 30% 70% 70% 30% / 30% 61% 39% 70%;
    }
    
    75% {
        border-radius: 59% 41% 70% 30% / 60% 61% 39% 40%;
    }

    100% {
        border-radius: 30% 70% 43% 57% / 59% 39% 61% 41%;
    }
}

.works {
    position: relative;
    width: 100vw;
    height: 90vh;
    margin: 0;
    background: linear-gradient(to bottom, #210240, #210240) no-repeat;
}

.works_links_container {
    position: relative;
    width: 80%;
    height: 60%;
    left:10%;
    top: 20%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 33% 33% 33%;
    /* background-color: white; */
}

.works_img {
    margin: 0 20px;
    filter: drop-shadow(5px 5px 10px #000000);
}

.no_shadow {
    filter: none;
}

.works_img img {
    position: sticky;
    object-fit:cover;
    border-radius: 0;
    width: 100%; 
    height: 80%;
    transition: .5s;
}

.works_img img:hover {
    object-fit:cover;
    border-radius: 0px;
    width: 103%; 
    height: 83%;
    transform: translate(-1.5%,-1.5%);
}

.works h3{
    position:absolute;
    left: 6rem;
    top: 12%;
    font-size: 50px;
    color: var(--text_purple);
    margin-bottom: 4rem;
    font-weight: 900;
}

.works_img p {
    color: var(--text_purple);
    font-size: 1.5rem;
    position: relative;
    text-align: center;
    margin-bottom:1rem;
    font-size: 2rem;
    font-weight: 300;
}

.about {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, var(--dark_purple), #800080) no-repeat; /* FF6F61 */
}

.about h3 {
    position: absolute;
    left: 6rem;
    top: 20%;
    font-size: 50px;
    color: var(--text_pink);
    margin-bottom: 4rem;
    font-weight: 900;
}

.about p {
    position: absolute;
    text-align: center;
    top:40%;
    margin: 0 8rem ;
    font-size: 2rem;
    font-weight: 300;
    color: var(--text_pink);
}

.contact {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #800080;
    overflow-y: hidden;
}

.contact form { 
    background-color: #fff;
    width: 70%; /* change later */
    padding: 30px;
    padding-bottom: 100px;
    font-size: 18px;
}

.message_icon {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.message_icon i{
    font-size: 40px;
} 

.message_icon span {
    font-size: 22px;
    font-weight: bold;
    margin-left: 15px;
}

form input, textarea {
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #080808;
    outline: none;
}

#input_field {
    padding-bottom: 20px;
    display:flex;
    align-items: center;
}

#input_field i{
    font-size: 22px;
    margin-right: 15px;
}

#input_field textarea {
    background-color: rgba(128, 128, 128, 0.096);
}

/* .send-btn {
    width: 100px;
    border: none;
    background: #080808;
    color: white;
    font-size: 16px;
    padding: 6px 0;
    border-radius: 50px;
} */

.main {
    height: 10%;
    width: 100%;
    transform: translateY(10%);
}

.button {
    background: #2B2D2F;
    height: 80px;
    width: 200px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
}

.text {
    font: bold 1.25rem/1 ;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-52%);
    left: 0;
    right: 0;
}

.progress-bar {
    position: absolute;
    height: 10px;
    width: 0;
    right: 0;
    top: 50%;
    left: 50%;
    border-radius: 200px;
    transform: translateY(-50%) translateX(-50%);
    /* background: lighten(#2B2D2F, 55%); */
    background: var(--text_pink);
}

svg {
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    right: 0;
}

.check {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

@media (max-width:1300px) {
    .main_container {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .main {
        top:25vh;
        left: 0;
        width: 100%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: black; */
    }

    .main h2 {
        font-size: 400%;
        margin-bottom: 10px;
        text-align: center;
        /* background-color: aqua; */
        font-family: 'Ubuntu', sans-serif;
        width:100%;
        display: flex;
        justify-content: center;
        transform: translateY(-10px);
    }

    .main h5 {
        width: 90vw;
        height: 5vh;
        font-size: 200%;
        display: flex;
        justify-content: center;
        margin-top: 15%;
        /* background-color: aqua; */
    }
    
    .main_pic {
        float: right;
        margin-right: 0;
        margin-top: 0;
        position: absolute;
        margin-top: 20vh;
        width: 30vh;
        height: 30vh;
    }

    .works {
        overflow: hidden;
    }

    .works_links_container {
        display: grid;
        height: 80%;
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: auto;
    }
    
    .works_img p {
        top: auto;
        color: rgb(204, 204, 204);
        margin-top: 15px;
    }

    .works_img {
        overflow: hidden;
    }
    
    .works_img img {
        width: 100%;
        transition: .5s;
    }

}